---
import Phone from "@/components/icons/phone.astro"
---

<header class="container mx-auto p-4">
  <nav class="w-full flex justify-between items-center">
    <div>Logo</div>
    <ul class="hidden md:flex justify-evenly items-center gap-6">
      <li><a href="#services">Servicios</a></li>
      <li><a href="#portfolio">Casos de Éxito</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
    <a href="https://wa.me/34692488608" target="_blank" rel="noopener noreferrer" class="flex p-1 bg-green-500 rounded-full text-white"><Phone/> <span class="hidden md:block">Llama ahora</span></a>
  </nav>
</header>
