---
import { Image } from "astro:assets";
import NavbarMobile from "@/components/NavbarMobile.astro";
// import Whatsapp from "@/components/icons/whatsapp";
import Burger from "@/components/icons/burger.astro";
import WhatsapUpdate from "./WhatsapUpdate.astro";
---

<header class="p-2">
  <nav class="container mx-auto w-full flex justify-between items-center">
    <a href="/" rel="noopener noreferrer"
      ><Image
        src="/Logo_RB_6.webp"
        alt={"Logo de la empresa"}
        width={100}
        height={100}
        class="w-48 h-full"
      /></a
    >
    <ul class="hidden md:flex justify-evenly items-center gap-6 font-semibold">
      <li>
        <a class="hover:text-primary transition-colors" href="#services"
          >Servicios</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors" href="#benefits"
          >Beneficios</a
        >
      </li>
      <li>
        <a class="hover:text-primary transition-colors" href="#projects"
          >Proyectos <span class="text-xs text-primary">(Proximamente)</span></a
        >
      </li>
    </ul>
    <div class="flex gap-3">
      <WhatsapUpdate />
      <!-- <a
        name="Whatsapp"
        href="https://wa.me/34692488608"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Pide presupuesto"
        class="flex p-1 md:px-3 md:py-1.5 bg-green-600 hover:bg-green-600/60 rounded-full md:rounded-md text-white transition-colors"
        ><Whatsapp /> <span class="hidden md:block">Pide presupuesto</span></a
      > -->
      <button
        id="navbar-mobileBurguer"
        class="md:hidden"
        aria-label="navbarButton"><Burger /></button
      >
    </div>
    <NavbarMobile />
  </nav>
</header>

<style>
  header {
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0px;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    z-index: 1000;
  }

  @keyframes adjust-header {
    to {
      background: rgba(235, 243, 237, 0.6);
      font-size: 15px;
      width: 100%;
      border-radius: 0;
      padding: 2px;
      /* color: rgb(235, 243, 237) */
    }
  }
  @keyframes openNavBar {
    0% {
      top: -120%;
    }
    100% {
      top: 0;
    }
  }
</style>

<script is:inline>
  const navbarMobileBurguer = document.getElementById("navbar-mobileBurguer");
  if (navbarMobileBurguer) {
    navbarMobileBurguer.addEventListener("click", () => {
      const navbarMobile = document.getElementById("navbar-mobile");
      navbarMobile.style.setProperty("animation", "openNavBar 0.5s forwards");
    });
  }
</script>
