---
import Container from "@/components/Container.astro";
import { Image } from "astro:assets";
---

<section class="bg-gradient-to-b from-secondary to-background">
  <Container>
    <div>
      <div
        class="flex flex-col md:flex-row w-full justify-between md:items-center gap-4"
      >
        <div class="md:flex-1">
          <h1 class="text-2xl md:text-5xl text-pretty">
            Instalación de placas <span class="text-tertiary"
              >Fotovoltaicas</span
            > en Barcelona
          </h1>
          <p class="text-lg font-semibold text-gray-700 mt-1.5">
            Experto en Energía Renovable
          </p>
          <p class="text-text font-semibold">Ray Bazan</p>
        </div>
        <div class="flex md:grid md:grid-cols-2 gap-2 md:gap-4">
          <div class="flex -space-x-2 overflow-hidden">
            <Image
              width={24}
              height={24}
              class="inline-block size-10 rounded-full ring-2 ring-secondary"
              src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt="Avatar 1"
            />
            <Image
              width={24}
              height={24}
              class="inline-block size-10 rounded-full ring-2 ring-secondary"
              src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt="Avatar 2"
            />
            <Image
              width={24}
              height={24}
              class="inline-block size-10 rounded-full ring-2 ring-secondary"
              src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
              alt="Avatar 3"
            />
            <Image
              width={24}
              height={24}
              class="inline-block size-10 rounded-full ring-2 ring-secondary"
              src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt="Avatar 4"
            />
          </div>
          <div class="flex flex-col">
            <span class="text-tertiary text-xl font-bold">+150</span>
            <span class="text-color text-md font-semibold"
              >Clientes felices</span
            >
          </div>
        </div>
      </div>
      <div
        class="w-full h-72 md:h-[500px] flex rounded-lg shadow-lg mt-5 relative"
      >
        <img
          width={500}
          height={500}
          class="w-full h-full object-cover rounded-lg z-0"
          src="/images/hero.webp"
          alt="Instalación de placas solares Hero imagen"
          decoding="async"
        />

        <div
          class="absolute inset-0 w-full h-full flex justify-around items-end rounded-sm p-4 md:p-16 gap-4 font-semibold bg-gradient-to-b from-transparent to-text/90"
        >
          <div
            class="w-full flex flex-col-reverse justify-center items-center gap-2 md:grid md:grid-cols-2"
          >
            <a
              name="Whatsapp"
              href="https://wa.me/34692488608"
              target="_blank"
              rel="noopener noreferrer"
              class="w-fit h-fit md:self-end hover:bg-text bg-green-800 text-sm text-center py-2 px-4 rounded-sm text-background transition-colors"
            >
              Presupuesto gratuito!
            </a>
            <p class="text-pretty text-background text-lg md:text-end">
              Ahorra un <span class="text-secondary">70%</span> en tu factura.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
