---
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import HeroImage from "@/assets/images/hero.webp";
---

<section class="bg-gradient-to-b from-secondary to-background">
  <Container>
    <div>
      <div
        class="flex flex-col md:flex-row w-full justify-between md:items-center gap-4 py-4"
      >
        <div class="md:w-[70%]">
          <h1 class="text-xl md:text-5xl text-pretty">
            Instalación de placas <span class="text-tertiary">Fotovoltaicas</span> en Barcelona <br><span class="text-sky-950">Energia Renovable</span>
          </h1>
        </div>
        <div class="flex md:grid md:grid-cols-2 md:gap-2">
          <div class="flex flex-col md:items-end">
            <div class="flex -space-x-4">
              <Image
                alt="Avatar 1"
                class="w-12 h-12 border-2 rounded-full border-secondary"
                src="/images/avatar.jpg"
                height={48}
                width={48}
              />
              <Image
                alt="Avatar 2"
                class="w-12 h-12 border-2 rounded-full border-secondary"
                src="/images/avatar.jpg"
                height={48}
                width={48}
              />
              <Image
                alt="Avatar 3"
                class="w-12 h-12 border-2 rounded-full border-secondary"
                src="/images/avatar.jpg"
                height={48}
                width={48}
              />
            </div>
          </div>
          <div class="flex flex-col">
            <span class="text-primary text-3xl font-bold">+400</span>
            <span class="text-color text-md font-semibold"
              >Clientes felices</span
            >
          </div>
        </div>
      </div>
      <div
        class="w-full h-72 md:h-96 flex rounded-sm shadow-lg"
        style="background-image: url('/images/hero-2.webp'); background-size: cover; background-position: top center;"
      >
        <div
          class="w-full h-full flex justify-around items-end rounded-sm p-4 gap-4 bg-gradient-to-b from-transparent to-text/70 font-semibold"
        >
          <div class="w-full grid grid-cols-2">
            <a
              href="#"
              class="w-fit h-fit self-end bg-primary/80 hover:bg-primary text-sm text-center py-1.5 px-3 rounded-sm text-background transition-colors"
            >
              Empieza ya
            </a>
            <p class="text-pretty text-background text-lg">
              Ahorra un <span class="text-secondary">70%</span> en tu factura.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
