---
import Container from "@/components/Container.astro";
---

<section
  class="w-full h-[90vh] flex flex-col md:flex-row bg-gradient-to-b p-2 md:p-4 from-secondary to-background"
>
  <div class="w-full h-full flex shadow-lg relative rounded-md">
    <img
      width={500}
      height={500}
      class="w-full h-full object-cover z-0 rounded-md"
      src="/images/hero.webp"
      alt="Instalación de placas solares Hero imagen"
    />

    <div
      class="absolute inset-0 w-full h-full flex flex-col rounded-md justify-center p-4 md:p-16 gap-4 font-semibold bg-text/35"
    >
      <div
        class="flex flex-col md:flex-row md:w-1/2 justify-between md:items-center gap-4"
      >
        <div class="md:flex-1">
          <h1
            class="text-3xl md:text-7xl text-pretty text-accent drop-shadow-xl"
          >
            Instalación de placas <span class="text-secondary"
              >Fotovoltaicas</span
            >
            en Barcelona
          </h1>
          <p class="text-xl font-semibold text-amber-50 mt-1.5">
            Experto en Energía Renovable
          </p>
          <p class="text-lg text-amber-100 font-semibold">Ray Bazan </p>
        </div>
      </div>
      <div class="md:w-1/2 flex flex-col justify-center gap-2">
        <p class="text-pretty text-background text-xl">
          Ahorra un <span class="text-secondary">70%</span> en tu factura.
        </p>
        <a
          name="Whatsapp"
          href="https://wa.me/34692488608"
          target="_blank"
          rel="noopener noreferrer"
          class="whatsapp-button w-fit h-fit hover:bg-primary bg-green-800 text-center py-2 px-4 rounded-sm text-background transition-colors"
        >
          Presupuesto gratuito!
        </a>
      </div>
    </div>
  </div>
</section>
