---
import { Image } from 'astro:assets';
import Container from '@/components/Container.astro';
import HeroImage from '@/assets/images/hero.webp';
---

<section class="bg-gradient-to-b from-secondary to-background">
	<Container>
		<div>
			<h1 class="text-4xl">Instalaciones Fotovoltaicas y Aires Acondicionados en Barcelona</h1>
			<div class="mt-10">
				<Image
				src={HeroImage}
				alt="Hero Imagen" 
				width={800}
				height={600}
				class="rounded-lg shadow-lg"
				/>
			</div>
		</div>
	</Container>
</section>

<style>
	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes fadeInDelay {
		0% { opacity: 0; }
		50% { opacity: 0; }
		100% { opacity: 1; }
	}

	.animate-fade-in {
		animation: fadeIn 1s ease-out;
	}

	.animate-fade-in-delay {
		animation: fadeInDelay 2s ease-out;
	}

	.animate-bounce {
		animation: bounce 2s infinite;
	}

	@keyframes bounce {
		0%, 100% { transform: translateY(-5%); }
		50% { transform: translateY(0); }
	}
</style>

